version: '3.8'
services:
  player:
    image: 'savonet/liquidsoap:v2.1.3'
    volumes:
      - ./:/app
    command: /app/main.liq
    depends_on:
      - audioserver
    environment:
      - ICECAST_SOURCE_SERVER
      - ICECAST_SOURCE_PORT
      - ICECAST_SOURCE_MOUNT
      - ICECAST_SOURCE_PASSWORD
    networks:
      - shoutzor_api
     
  audioserver:
    image: 'infiniteproject/icecast'
    volumes:
      - ./conf/icecast.xml:/etc/icecast.xml
    ports:
      - "9000:9000"
    environment:
      - ICECAST_SOURCE_PASSWORD
      - ICECAST_ADMIN_PASSWORD
      - ICECAST_RELAY_PASSWORD
      - ICECAST_ADMIN_USERNAME
      - ICECAST_ADMIN_EMAIL
      - ICECAST_LOCATION
      - ICECAST_HOSTNAME
      - ICECAST_MAX_CLIENTS
      - ICECAST_MAX_SOURCES

networks:
  shoutzor_api:
      name: shoutzor_api